In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
traffic = pd.read_csv("/content/drive/My Drive/traffic forecast/holt_results.csv")

In [ ]:
from fbprophet import Prophet

In [ ]:
traffic.head()

   Unnamed: 0  index  ... arima Prediction holt Prediction
0           0      0  ...              NaN             NaN
1           1      1  ...              NaN             NaN
2           2      2  ...              NaN             NaN
3           3      3  ...              NaN             NaN
4           4      4  ...              NaN             NaN

[5 rows x 7 columns]

In [ ]:
% cd /content/drive/My Drive/traffic forecast

/content/drive/My Drive/traffic forecast

In [ ]:
prophet_results = pd.DataFrame()
n=0
for  roadname in traffic.road_name.unique():
    road = traffic[traffic.road_name == roadname].reset_index()
    train = road.iloc[:int(0.7*len(road))][['timestamp','Total Vehicles']]
    valid = road.iloc[int(0.7*len(road)):][['timestamp','Total Vehicles']]
    train.columns = ['ds','y']
    valid.columns = ['ds','y']
    model = Prophet()
    model.fit(train)

    forecast = model.predict(valid)['yhat']
    forecast = pd.DataFrame(forecast.values,index = valid.index,columns=['prophet Prediction'])
    prophet_results =  prophet_results.append( road.merge(forecast,how='left',left_index= True , right_index= True))
    prophet_results.to_csv("prophet_results.csv")
    n = n+1
    print(str(n) + " of " + str(len(traffic.road_name.unique())) + str(roadname))

In [ ]:
traffic = pd.read_csv("prophet_results.csv")

In [ ]:
test = traffic[~traffic['prophet Prediction'].isna()]

In [ ]:
test.head()

     Unnamed: 0  level_0  ...  holt Prediction  prophet Prediction
117         117      117  ...        83.893651          124.139308
118         118      118  ...       104.128198          119.717105
119         119      119  ...        61.596761          120.696612
120         120      120  ...        23.806142          109.136203
121         121      121  ...         2.053875           83.429065

[5 rows x 10 columns]

In [ ]:
mean_absolute_error (test['Total Vehicles'],test['prophet Prediction']),r2_score(test['Total Vehicles'],test['prophet Prediction'])

(137.16139787376534, 0.5756545756054869)